<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>serv2</servlet-name>
    <servlet-class>UserController.Login_Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>serv3</servlet-name>
    <servlet-class>UserController.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv2</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>serv3</servlet-name>
    <url-pattern>/addtask1</url-pattern>
  </servlet-mapping>
</web-app>